.wrapper{
    width: 1340px;
    height: 1410px;
    margin: auto;
    margin-top: 43px;

    background: #FFFFFF;
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.03);
    border-radius: 10px;
}

.filter__container{
    width: 1225px;
    height: 46px;

    padding: 40px 0 32px 0;

    display: flex;
    justify-content: space-between;

    margin: auto;
}

.tags__container{
    display: flex;
    width: 800px;
    overflow: scroll;
}

.sort__container{
    display: flex;

    align-items: center;

    img{
        width: 10px;
        height: 6px;
        margin-right: 7px;
    }

    p{
        font-family: 'Proxima Nova';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;

        letter-spacing: 0.015em;

        color: #2C2C2C;

        margin-right: 8px;
    }

    span{
        font-family: 'Proxima Nova';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
 
        letter-spacing: 0.015em;

        color: #FE5F1E;
    }

    .sort-span{
        display: flex;
        position: relative;
        width: fit-content;

        .underline-dashed{
            position: absolute;
            top: 15px;
            width: 100%;
            border: 1px dashed #FE5F1E;
        }
    }
}

.title__container{
    width: 1225px;
    margin: auto;

    h1{
        font-family: 'Proxima Nova';
        font-style: normal;
        font-weight: 700;
        font-size: 32px;

        letter-spacing: 0.01em;

        color: #000000;
    }
}

.pizzas__contaner{
    width: 1225px;
    margin: auto;

    margin-top: 35px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

